:root {
  --icon-width: 40px;
  --icon-height: 40px;
  --enabled: url(../images/tracker-enabled.png);
  --disabled: url(../images/tracker-disabled.png);
  --map: url(../images/overworld.png);
}
.rest {
  flow 0px 1 0;
}
.grid {
  xpadding-top: 6px;
  xcolor: white;
  xmargin-top: 12px;
  xbackground: #55f;

  user-select: none;
  display: flex;
}
.grid.h {
  flex-flow: row nowrap;
  width: 
}
.grid.v {
  flex-flow: column nowrap;
}
.grid.v > .grid + .grid {
  margin-top: 10px;
}
.grid.h > .grid + .grid {
  padding-right: 10px;
}
.grid.h > .grid {
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
}
.grid.g3 {
  display: grid;
  grid-template-columns: repeat(3, var(--icon-width));
}
.grid.g4 {
  display: grid;
  grid-template-columns: repeat(4, var(--icon-width));
}

.item {
  background-color: #555;
}
.item.got {
  background-color: #0070ec;
}
.item.sword-of-wind > div {
  background-position: 0px 0px;
}
.item.sword-of-fire > div {
  background-position: -40px 0px;
}
.item.sword-of-water > div {
  background-position: -80px 0px;
}
.item.sword-of-thunder > div {
  background-position: -120px 0px;
}
.item.ball-of-wind > div {
  background-position: 0px -40px;
}
.item.ball-of-fire > div {
  background-position: -40px -40px;
}
.item.ball-of-water > div {
  background-position: -80px -40px;
}
.item.ball-of-thunder > div {
  background-position: -120px -40px;
}
.item.tornado-bracelet > div {
  background-position: 0px -80px;
}
.item.flame-bracelet > div {
  background-position: -40px -80px;
}
.item.blizzard-bracelet > div {
  background-position: -80px -80px;
}
.item.storm-bracelet > div {
  background-position: -120px -80px;
}
.item.alarm-flute > div {
  background-position: -240px -200px;
}
.item.sacred-shield > div {
  background-position: -240px -240px;
}
.item.kirisa-plant > div {
  background-position: -160px -200px;
}
.item.psycho-armor > div {
  background-position: -200px -240px;
}
.item.shield-ring > div {
  background-position: -120px -160px;
}
.item.power-ring > div {
  background-position: -40px -120px;
}
.item.warrior-ring > div {
  background-position: -80px -120px;
}
.item.insect-flute > div {
  background-position: -160px -80px;
}
.item.flute-of-lime > div {
  background-position: -200px -80px;
}
.item.shell-flute > div {
  background-position: -240px -80px;
}
.item.rabbit-boots > div {
  background-position: -40px -160px;
}
.item.leather-boots > div {
  background-position: -80px -160px;
}
.item.opel-statue > div {
  background-position: -160px -240px;
}
.item.statue-of-onyx > div {
  background-position: -160px -120px;
}
.item.broken-statue > div {
  background-position: -200px -120px;
}
.item.ivory-statue > div {
  background-position: -240px -120px;
}
.item.windmill-key > div {
  background-position: -160px -40px;
}
.item.key-to-prison > div {
  background-position: -200px -40px;
}
.item.key-to-styx > div {
  background-position: -240px -40px;
}
.item.gas-mask > div {
  background-position: 0px -120px;
}
.item.eye-glasses > div {
  background-position: -240px -160px;
}
.item.fog-lamp > div {
  background-position: -160px -160px;
}
.item.glowing-lamp > div {
  background-position: -200px -160px;
}
.item.iron-necklace > div {
  background-position: -120px -120px;
}
.item.deos-pendant > div {
  background-position: 0px -160px;
}
.item.love-pendant > div {
  background-position: -200px -200px;
}
.item.bow-of-moon > div {
  background-position: -160px 0px;
}
.item.bow-of-sun > div {
  background-position: -200px 0px;
}
.item.bow-of-truth > div {
  background-position: -240px 0px;
}
.item.refresh > div {
  background-position: 0px -200px;
}
.item.paralysis > div {
  background-position: -40px -200px;
}
.item.telepathy > div {
  background-position: -80px -200px;
}
.item.teleport > div {
  background-position: -120px -200px;
}
.item.recover > div {
  background-position: 0px -240px;
}
.item.barrier > div {
  background-position: -40px -240px;
}
.item.change > div {
  background-position: -80px -240px;
}
.item.flight > div {
  background-position: -120px -240px;
}


.item {
  width: var(--icon-width);
  height: var(--icon-height);
}

/*
.slot[data-state="blocked"] {
  background: #fbb;
}
.slot[data-state="available"] {
  background: #bfb;
}
.slot[data-state="got"] {
  background: #bbf;
}
*/

.item > div {
  background-image: var(--disabled);
  background-repeat: no-repeat;
  xbackground-size: 1000%;  /* ??? */
  width: var(--icon-width);
  height: var(--icon-height);
}
.item.got > div {
  background-image: var(--enabled);
}

.map {
  user-select: none;
  background-image: var(--map);
  position: relative;
  width: 351px;
  height: 254px;
}

.map > div {
  position: absolute;
  width: 5px;
  height: 5px;
  /*overflow: hidden;*/
}
.map > div.key {
  width: 7px;
  height: 7px;
}
.map > div[data-state="blocked"] {
  background: red;
}
.map > div[data-state="available"] {
  background: #5f5;
}
.map > div.got { /* comes last to override */
  background: #888;
}
.map > div > div {
  display: none;
}
.map > div:hover > div {
  display: block;
  position: absolute;
  left: 20px;
  top: 8px;
  background: white;
  border: 1px solid black;
  z-index: 1;
  pointer-events: none;
}
.boss::after {
  content: " ?";
  font-size: 5pt;
  font-family: sans-serif;
  white-space: pre;
}
.hidden {
  display: none;
}

.flags {
  display: flex;
}
.flags > div {
  border: 1px solid black;
  border-radius: 2px;
  padding: 2px 4px;
  margin-right: 4px;
}
.flags > div[data-state="blocked"] {
  background: #fbb;
}
.flags > div[data-state="available"] {
  background: #bfb;
}
.flags > div.got {
  background: #bbf !important;
}

li[data-state="blocked"] {
  color: #b00;
}
li[data-state="available"] {
  color: #4d4;
}
