<!DOCTYPE html>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131783670-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-131783670-1');
</script>
<link rel="stylesheet" type="text/css" href="view.css">
<style>
  .canvas {
    flex-grow: 0;
    width: 264px;
  }
  .controls {
    flex-grow: 1;
  }  
</style>
<script type="module" src="sprites.js"></script>
