.DS_Store
Crystalis.s
Crystalis.s.*
*.nes
deploy
deploy_key
deploy_key.pub
dist
.vscode

# testing
cov.*
test/testdata
test/testdata.backup
unused

# npm stuff
npm_token
node_modules
tsconfig.tsbuildinfo
npm-debug.log
.tsc.out
.project
bin/.github/workflows/publish.yml
bin/.npmignore
bin/.project
bin/.travis.yml
bin/BUILD.md
bin/CHANGELOG.md
bin/debug
bin/deploy_key.enc
bin/README.md
bin/TODO
